
<div class="container-fluid blue-bg">
  <div class="container history px-4 px-md-0">
    <h2 class="">Как это было</h2>

<!-- h    -is block which consist circle and text  -->
<!-- t    - is block of timeline -->
   <!-- b - botttom -->


<!--2001-->
<div class="row h">
<div class="col-2 bottom"><div class="circle">2001 </div><div class="after"></div></div>

<div class="col-6">
<h5>Начало</h5>
<p>Производство компании начиналось с использования советского станочного парка 50-х годов</p>
</div>
</div>

<!--timeline to right-->
<div class="row t"><div class="col-2"><div class="corner top-right"></div></div><div class="col-8"><hr/></div><div class="col-2"><div class="corner left-bottom"></div></div></div>



<!--2003-->
<div class="row r h">
<div class="col-6">
<h5>Первый обрабатывающий центр</h5>
<p>Поступил в эксплуатацию первый современный обрабатывающий центр для корпусных деталей</p>
</div>

<div class="col-2 text-center full"><div class="circle">2003</div><div class="after"></div></div>
</div>

<!-- timeline to left-->
<div class="row t"><div class="col-2"><div class="corner right-bottom"></div></div><div class="col-8"><hr/></div><div class="col-2"><div class="corner top-left"></div></div></div>



<!--2004-->
<div class="row h">
<div class="col-2 full-again "><div class="circle">2004</div><div class="after"></div></div>

<div class="col-6">
<h5>Первый разработанный электропривод</h5>
<p>Компания выпустила первый электропривод собственной конструкции. Это был МЭОФ-1000</p>
</div>
</div>

<!-- timeline to right-->
<div class="row t"><div class="col-2"><div class="corner top-right "></div></div><div class="col-8"><hr/></div><div class="col-2"><div class="corner left-bottom"></div></div></div>



<!--2005-->
<div class="row h r">
<div class="col-6">
<h5>Инструментальный участок</h5>
<p>Создан собственный инструментальный участок,
на котором осуществлялось проектирование и изготовление всех летейных форм, штампов, пресс-форм, обеспечивающий собственные нужды и  заказы сторонних организаций</p>
</div>
<div class="col-2 full"><div class="circle">2005</div><div class="after"></div></div>
</div>

<!-- timeline to left-->
<div class="row t"><div class="col-2"><div class="corner right-bottom"></div></div><div class="col-8"><hr/></div><div class="col-2"><div class="corner top-left"></div></div></div>


<!-- 2006 -->
<div class="row h">
<div class="col-2 full-again"><div class="circle">2006</div><div class="after"></div></div>

<div class="col-6">
<h5>Электротехнический участок</h5>
<p>Открылся электротехнический участок по изготовлению датчиков на электрические привода и механизмы.
  Запуск серийного производства электродвигателей ДСР, разработанных нашей компанией</p>
</div>
</div>

<!-- timeline to right-->
<div class="row t"><div class="col-2"><div class="corner top-right "></div></div><div class="col-8"><hr/></div><div class="col-2"><div class="corner left-bottom"></div></div></div>



<!-- 2007 -->
<div class="row r h">
<div class="col-6">
<h5>Литейное производство и участок термообработки</h5>
<p>Открыто литейное производство, полностью покрывающее собственные и сторонние заказы. Открыт участок термообработки </p>
</div>

<div class="col-2 full"><div class="circle">2007</div><div class="after"></div></div>

</div>

<!-- timeline to left-->
<div class="row t"><div class="col-2"><div class="corner right-bottom"></div></div><div class="col-8"><hr/></div><div class="col-2"><div class="corner top-left"></div></div></div>



<!-- 2008 -->
<div class="row h">
<div class="col-2 full-again "><div class="circle">2008</div><div class="after"></div></div>

<div class="col-6">
<h5>Большой участок металлобработки</h5>
<p>Сформирован большой участок ЧПУ центров, позволяющий выполнять полную механическую обработку, как для своих нужд, так и для сторонних предприятий, таких как Промтрактор, Элара,
Чебоксарский электроаппаратный завод</p>
</div>
</div>

<!-- timeline to right-->
<div class="row t"><div class="col-2"><div class="corner top-right "></div></div><div class="col-8"><hr/></div><div class="col-2"><div class="corner left-bottom"></div></div></div>


<!-- 2009 -->
<div class="row r h">
<div class="col-6">
<h5>Полный цикл производства</h5>
<p>Переход на полный цикл производства электроприводов и испольнительных механизмов</p>
</div>
<div class="col-2 full"><div class="circle">2009</div><div class="after"></div></div>
</div>

<!-- timeline to left-->
<div class="row t"><div class="col-2"><div class="corner right-bottom"></div></div><div class="col-8"><hr/></div><div class="col-2"><div class="corner top-left"></div></div></div>



<!-- 2010 -->
<div class="row h">
<div class="col-2 full-again "><div class="circle">2010</div><div class="after"></div></div>

<div class="col-6">
<h5>Прямоходные и взрывозащиенные механизмы</h5>
<p>Компания освоила выпуск сложных взрывозащищенных исполнительных механизмов и перешла на серийный выпуск прямоходных электромеханизмов</p>
</div>
</div>

<!-- timeline to right-->
<div class="row t"><div class="col-2"><div class="corner top-right "></div></div><div class="col-8"><hr/></div><div class="col-2"><div class="corner left-bottom"></div></div></div>



<!-- 2012 -->
<div class="row r h">
<div class="col-6">
<h5>Многооборотные электроприводы</h5>
<p>Разработан многооборотный электропривод собственной конструкции и запущено серийное производство</p>
</div>

<div class="col-2 full"><div class="circle">2012</div><div class="after"></div></div>
</div>

<!-- timeline to left-->
<div class="row t"><div class="col-2"><div class="corner right-bottom"></div></div><div class="col-8"><hr/></div><div class="col-2"><div class="corner top-left"></div></div></div>


<!-- 2013 -->
<div class="row h">
<div class="col-2 full-again "><div class="circle">2013</div><div class="after"></div></div>

<div class="col-6">
<h5>Взрывозащищенные шлагбаумы</h5>
<p>Предприятие разработало и запустило серийное производство шлагбаумов взрывозащищенного исполнения</p>
</div>
</div>

<!-- timeline to right-->
<div class="row t"><div class="col-2"><div class="corner top-right "></div></div><div class="col-8"><hr/></div><div class="col-2"><div class="corner left-bottom"></div></div></div>


<!-- 2016 -->
<div class="row r h">
<div class="col-6">
<h5>Интелектуальный блок упраления шлагбаумом</h5>
<p>Произведен интрелектуальный блок управления для шлагбаумов и значительно увеличено количество модификаций электроприводов</p>
</div>
<div class="col-2 full"><div class="circle">2016</div><div class="after"></div></div>
</div>

<!-- timeline to left-->
<div class="row t"><div class="col-2"><div class="corner right-bottom"></div></div><div class="col-8"><hr/></div><div class="col-2"><div class="corner top-left"></div></div></div>


<!-- 2017 -->
<div class="row h">
<div class="col-2 full-again "><div class="circle">2017</div><div class="after"></div></div>

<div class="col-6">
<h5>Цифровые датчики</h5>
<p>Разработаны и запущены в производство цифровые датчики</p>
</div>
</div>

<!-- timeline to right-->
<div class="row t"><div class="col-2"><div class="corner top-right "></div></div><div class="col-8"><hr/></div><div class="col-2"><div class="corner left-bottom"></div></div></div>

<!-- 2019 -->
<div class="row r h">
<div class="col-6">
<h5>Интеллектуальные датчики</h5>
<p>Освоен выпуск интеллектуальных датчиков ЕД </p>
</div>
<div class="col-2 top"><div class="circle">2019</div><div class="after"></div></div>
</div>




  </div>
</div>
