{% load static %}
<footer class="footer">
	<div class="container">
		<!-- <div class="d-flex flex-column flex-md-row ">
			

			<div class="d-flex flex-column  col-md-4 left-block f-go-section">	
				<p class="footer-go-mess">Подберем электропривод под вашу задачу</p>
				<div class="d-flex flex-row flex-md-column">
				<a href="tel:+78352570516"><span> 8 (8352) 57-05-16</span></a>
				<a href="mailto:info@piek.ru"> info@piek.ru</a>
				</div>
			</div>
		<div class="d-flex flex-row col-md-8">
					<div class="d-flex flex-column py-3  py-md-3 col-md-6 link-block">
						<h2>Продукция</h2>
						
						<a href="/elektroprivody-pem/"> Многооборотные электроприводы </a>
						<a href="/mechanisms-mep/"> Прямоходные электроприводы </a>
						<a href="/mechanisms-meof/"> Неполнооборотные электроприводы</a>
						<a href="/instruments/"> Пускатели для электропривода </a>
						<a href="/armature/"> Трубопроводная арматура с электроприводом</a>
						<a href="/shlagbaumy-vzryvozashishennye/"> Шлагбаумы взрывозащищенные </a>
					</div>

					<div class="d-flex flex-column py-3 py-md-3 col-md-6 link-block">
						<h2>Информация</h2>
						<a href="/">  Главная </a>
						<a href="/about/"> О компании </a>
						<a href="/certificates/">Сертификаты</a>
						<a href="/docs/"> Документация </a>
						<a href="/contacts/"> Контакты </a>
						<a href="/sensors/">Датчики сигнализации положения выходного вала и блоки</a>

					</div>
		</div>
		</div> -->
<!-- 
		<div class="d-flex flex-row iso-cerf container p-2">
			<a class="d-flex" href="/media/certificates/file/certificate_ISO_9001_iOoxSol.pdf">
				<img class="iso-logo" src="{% static 'img/isologo.png' %}" alt="знак ИСО">
				<p class="mt-auto ml-3"><b>Сертифицированная</b></br>система </br>менеджмента </br>качества </br>ISO 9001:2015</p>
			</a>
			</div> -->
		<div class="vert-line"></div>
		<div class="d-flex links justify-content-center pt-4">
			<a href="tel:+78352570516"><span> 8 (8352) 57-05-16</span></a>
				<a href="mailto:info@piek.ru"> info@piek.ru</a>
		</div>
		<div class="d-flex flex-wrap links justify-content-center">
			<a href="/">Продукция </a>
			
			<a href="/docs/"> Документация </a>
			<a href="/certificates/">Сертификаты</a>
			<a href="/contacts/"> Контакты </a>
			<a href="/about/"> О нас </a>
		</div>
	</div>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

