{% load static %}
<footer class="footer">
	<div class="container">
		
		
		<div class="d-flex flex-wrap links justify-content-center">
			<a href="/">Продукция </a>
			
			<a href="/docs/"> Документация </a>
			<a href="/certificates/">Сертификаты</a>
			<a href="/contacts/"> Контакты </a>
			<a href="/about/"> О нас </a>
		</div>

		
	</div>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script>AOS.init();</script>

