/* line 1, static/sass/certificate.sass */
.certificate {
  margin-top: 2rem; }
  /* line 3, static/sass/certificate.sass */
  .certificate h1 {
    color: var(--text1);
    font-size: 32px;
    margin: 1rem 0;
    text-align: center;
    font-weight: 600; }
  /* line 10, static/sass/certificate.sass */
  .certificate .certificateWrapper {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px; }
    @media (max-width: 767.65px) {
      /* line 10, static/sass/certificate.sass */
      .certificate .certificateWrapper {
        grid-template-columns: repeat(2, 1fr); } }
    /* line 19, static/sass/certificate.sass */
    .certificate .certificateWrapper img {
      width: 300px;
      margin: 0 auto !important;
      transition-duration: .3s; }
      /* line 23, static/sass/certificate.sass */
      .certificate .certificateWrapper img:hover {
        -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2); }
  /* line 31, static/sass/certificate.sass */
  .certificate .secondary_ttl h1 {
    font-weight: 700;
    font-size: 40px;
    color: #000;
    margin-bottom: 20px;
    margin-top: 50px !important; }
