/* line 2, static/sass/certificate.sass */
.certificate .certificateWrapper {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px; }
  /* line 7, static/sass/certificate.sass */
  .certificate .certificateWrapper img {
    width: 300px;
    margin: 0 auto !important;
    transition-duration: .3s; }
    /* line 11, static/sass/certificate.sass */
    .certificate .certificateWrapper img:hover {
      -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1); }

/* line 19, static/sass/certificate.sass */
.certificate .secondary_ttl h1 {
  font-weight: 700;
  font-size: 40px;
  color: #000;
  margin-bottom: 20px;
  margin-top: 50px !important; }
