/* line 1, static/sass/index.sass */
.navbar {
  border-bottom: 1px solid var(--border); }
  /* line 3, static/sass/index.sass */
  .navbar .navbar-links {
    display: flex;
    margin-left: 0; }
    /* line 6, static/sass/index.sass */
    .navbar .navbar-links a {
      color: #000; }
