/* line 1, static/sass/index.sass */
.navbar {
  border-bottom: 1px solid var(--border); }
  /* line 3, static/sass/index.sass */
  .navbar .navbar-links {
    display: flex; }
    /* line 5, static/sass/index.sass */
    .navbar .navbar-links .contact-block {
      border-left: 1px solid #555; }
    /* line 7, static/sass/index.sass */
    .navbar .navbar-links a {
      color: #000; }
      /* line 9, static/sass/index.sass */
      .navbar .navbar-links a:hover {
        color: var(--link-color); }
