/* line 1, static/sass/index.sass */
.navbar {
  border-bottom: 1px solid var(--border); }
  /* line 3, static/sass/index.sass */
  .navbar .navbar-links {
    display: flex;
    width: 100%;
    align-items: center; }
    /* line 7, static/sass/index.sass */
    .navbar .navbar-links .navbar-brand {
      padding: 0; }
    /* line 9, static/sass/index.sass */
    .navbar .navbar-links a {
      padding: 10px;
      color: #000000a9; }
      /* line 12, static/sass/index.sass */
      .navbar .navbar-links a:hover {
        color: var(--link-color); }
    /* line 15, static/sass/index.sass */
    .navbar .navbar-links .contact-block {
      border-left: 1px solid var(--border);
      padding: 0 20px;
      margin-left: auto; }
      /* line 19, static/sass/index.sass */
      .navbar .navbar-links .contact-block a:first-of-type {
        font-size: .9em; }
    /* line 21, static/sass/index.sass */
    .navbar .navbar-links .shopping-bag {
      position: relative;
      padding-left: 15px;
      border-left: 1px solid var(--border); }
      /* line 25, static/sass/index.sass */
      .navbar .navbar-links .shopping-bag img {
        width: 25px;
        opacity: .4; }

/* line 29, static/sass/index.sass */
.basePage {
  position: relative;
  height: 400px; }
  /* line 32, static/sass/index.sass */
  .basePage .title {
    position: absolute;
    top: 30%;
    transform: translateY(-50%); }
    /* line 37, static/sass/index.sass */
    .basePage .title h1 {
      font-weight: 600;
      color: rgba(0, 0, 0, 0.9);
      font-size: 1.4em;
      margin: 1em 0; }
    /* line 42, static/sass/index.sass */
    .basePage .title h2 {
      font-weight: 400;
      line-height: 1.6;
      color: var(--about_company_color);
      font-size: 1em;
      max-width: 500px; }
  /* line 49, static/sass/index.sass */
  .basePage .banner {
    position: absolute;
    z-index: -10;
    background-size: auto;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    opacity: .9; }

/* line 63, static/sass/index.sass */
.basePageCatalog {
  padding: 40px 40px; }
  /* line 65, static/sass/index.sass */
  .basePageCatalog .catGroup {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    margin: 20px 0;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 20px; }
    /* line 75, static/sass/index.sass */
    .basePageCatalog .catGroup .groupName {
      position: absolute;
      margin-top: -30px; }
    /* line 79, static/sass/index.sass */
    .basePageCatalog .catGroup .catItem {
      border: 1px solid grey; }
      /* line 81, static/sass/index.sass */
      .basePageCatalog .catGroup .catItem a {
        display: block; }
      /* line 84, static/sass/index.sass */
      .basePageCatalog .catGroup .catItem img {
        margin: 0 auto;
        width: 150px !important; }
