/* line 1, static/sass/index.sass */
.navbar {
  border-bottom: 1px solid var(--border); }
  /* line 3, static/sass/index.sass */
  .navbar .navbar-links {
    display: flex;
    width: 100%;
    align-items: center; }
    /* line 8, static/sass/index.sass */
    .navbar .navbar-links a {
      padding: 10px;
      color: #000000a9; }
      /* line 12, static/sass/index.sass */
      .navbar .navbar-links a:hover {
        color: var(--link-color); }
    /* line 15, static/sass/index.sass */
    .navbar .navbar-links .contact-block {
      border-left: 1px solid var(--border);
      padding: 0 20px;
      margin-left: auto; }
      /* line 19, static/sass/index.sass */
      .navbar .navbar-links .contact-block a:first-of-type {
        font-size: .9em; }
    /* line 21, static/sass/index.sass */
    .navbar .navbar-links .shopping-bag {
      position: relative;
      padding-left: 15px;
      border-left: 1px solid var(--border); }
      /* line 25, static/sass/index.sass */
      .navbar .navbar-links .shopping-bag img {
        width: 25px;
        opacity: .4; }

/* line 29, static/sass/index.sass */
.basePage {
  position: relative;
  height: 500px;
  width: 100%; }

/* line 34, static/sass/index.sass */
.banner {
  position: absolute;
  z-index: -10;
  background-size: auto;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  opacity: .9; }
