/* line 1, static/sass/subgroup.sass */
.product-list .product-wrap a .p-meta .p-title:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
  background: transparent;
  transition: width .3s ease, background-color .3s ease-in-out; }

/* line 9, static/sass/subgroup.sass */
.lines-svg {
  content: "";
  position: relative;
  width: 100%;
  height: 24px;
  background-image: url(/static/img/icon/lines.svg?4ae04cdf462f);
  opacity: .06; }

/* line 17, static/sass/subgroup.sass */
.container-900 {
  max-width: 900px !important;
  margin: 0 auto;
  padding: 0 2rem; }
  @media (max-width: 767.98px) {
    /* line 17, static/sass/subgroup.sass */
    .container-900 {
      padding: 0 1rem; } }
/* line 24, static/sass/subgroup.sass */
.primary_ttl {
  font-weight: 800;
  font-size: 32px;
  margin: 3rem auto; }
  @media (max-width: 767.98px) {
    /* line 24, static/sass/subgroup.sass */
    .primary_ttl {
      font-size: 20px;
      font-weight: 800;
      margin: 1.5rem auto; } }
/* line 33, static/sass/subgroup.sass */
.subgroup-description {
  margin: 0 auto;
  margin-bottom: 3rem; }
  /* line 36, static/sass/subgroup.sass */
  .subgroup-description p, .subgroup-description span {
    font-size: 1em !important;
    font-weight: 500;
    color: var(--text2); }
  @media (max-width: 767.98px) {
    /* line 33, static/sass/subgroup.sass */
    .subgroup-description {
      margin-bottom: 1.5rem; }
      /* line 42, static/sass/subgroup.sass */
      .subgroup-description p, .subgroup-description span {
        font-size: 12px !important; } }
/* line 45, static/sass/subgroup.sass */
.product-list {
  display: flex;
  flex-direction: column; }
  /* line 49, static/sass/subgroup.sass */
  .product-list .product-wrap {
    border-bottom: 1px dashed #e2e2e2;
    padding: 2rem 0; }
    @media (max-width: 767.98px) {
      /* line 49, static/sass/subgroup.sass */
      .product-list .product-wrap {
        padding: 1rem 0; } }
    /* line 55, static/sass/subgroup.sass */
    .product-list .product-wrap:last-of-type {
      border-bottom: none; }
    /* line 58, static/sass/subgroup.sass */
    .product-list .product-wrap a:hover {
      text-decoration: none; }
    /* line 61, static/sass/subgroup.sass */
    .product-list .product-wrap a img {
      width: 300px; }
      @media (max-width: 767.98px) {
        /* line 61, static/sass/subgroup.sass */
        .product-list .product-wrap a img {
          width: 150px; } }
    /* line 66, static/sass/subgroup.sass */
    .product-list .product-wrap a .p-meta {
      margin-right: 1rem; }
      /* line 68, static/sass/subgroup.sass */
      .product-list .product-wrap a .p-meta .p-title {
        font-weight: 600;
        font-size: 20px;
        color: #720000;
        margin-bottom: 1rem;
        width: fit-content; }
        /* line 75, static/sass/subgroup.sass */
        .product-list .product-wrap a .p-meta .p-title:hover::after {
          width: 100%;
          background: #720000; }
      /* line 83, static/sass/subgroup.sass */
      .product-list .product-wrap a .p-meta .p-description {
        font-weight: 500; }
        /* line 85, static/sass/subgroup.sass */
        .product-list .product-wrap a .p-meta .p-description p, .product-list .product-wrap a .p-meta .p-description span, .product-list .product-wrap a .p-meta .p-description div {
          color: #000;
          font-weight: normal;
          font-size: 14px !important; }
          /* line 89, static/sass/subgroup.sass */
          .product-list .product-wrap a .p-meta .p-description p strong, .product-list .product-wrap a .p-meta .p-description span strong, .product-list .product-wrap a .p-meta .p-description div strong {
            font-weight: normal;
            color: #444; }
      @media (max-width: 767.98px) {
        /* line 94, static/sass/subgroup.sass */
        .product-list .product-wrap a .p-meta .p-title {
          font-size: 15px; }
        /* line 97, static/sass/subgroup.sass */
        .product-list .product-wrap a .p-meta .p-description p, .product-list .product-wrap a .p-meta .p-description span, .product-list .product-wrap a .p-meta .p-description div {
          font-size: 12px !important; } }
