main{
  padding-bottom: 0!important;
  box-shadow: none;
}


.splide{
    width: 100%;
}
  .splide img{
    width: auto !important;
    max-height: 700px;
  }
        
  .splide__arrow{
    background-color: transparent !important;
    padding: 3rem 0 !important
  }
       
  .splide__pagination__page.is-active{
    background: var(--link-color) !important

  }


.benefits__element {width: 33%;  margin-top: 3rem;}

.benefits__element p {
    text-align: center;
    padding: 0rem 1rem;
}

.benefits__element p:nth-of-type(1) {
    font-size: 3rem;
    font-weight: 600;
}

.benefits__element p:nth-of-type(2) {
    font-size: 15px;
    margin: 0 auto;
    max-width: 300px;
}



.inflow{padding: 3rem 1rem;}
 .inflow p{
  font-weight: 500;
   max-width: 850px;
   margin: 0 auto;
   line-height: 1.6;
    margin-top: 1.2rem;
 }

