a:hover{
	text-decoration: none;
}

html {
	width: 100%;
	max-width: 100%;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	font-family: "Gilroy", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}



body {
	width: 100% !important;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	overflow: visible;
	font-family: "Gilroy", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	direction: ltr;
    font-feature-settings: 'kern';
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	-moz-osx-font-smoothing: grayscale;
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    scroll-behavior: smooth;
}


/* HEADER STYLES */

/* 

.navbar {
	border-bottom: 1px solid var(--border);
}
.navbar-brand img{
	width: 100px;
}

.nav-link {
	color: rgba(0, 0, 0, 0.7);
	font-weight: 500 ;
	font-size: 16px;
	letter-spacing: .1px;
	padding: 0 15px !important;
}
.phone-wrapper{
	border-left: 1px solid #000;
}
.shopping-bag{
	width: 25px;
	opacity: .6;
}

.cart-counter {
	position: absolute;
	color: #fff;
	top: 0;
	right: 0;
	width: 16px;
	height: 16px;
	background-color: #ff3a31;
	border-radius: 50%;
	line-height: 16px;
	text-align: center;
}

.cart-counter p {
	margin: 0;
	font-size: 10px;
}

.sidenav {
	height: 200vh;
	width: 0;
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	background-color: transparent;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	padding-bottom: 200px;
}

.sidenav a {
	border-bottom: .5px dotted #9c9b9b;
	font-weight: 500;
	font-size: 1.15em;
	margin: 0 1.5em;
	text-decoration: none;
	text-align: right;
	text-transform: uppercase;
	padding: 1em 0em;
	color: rgb(255, 255, 255);
	display: block;
	white-space: nowrap;
}


.sidenav .closebtn,
.closebtn a {
	position: absolute;
	top: 9px;
	font-size: 35px;
	font-weight: 800;
	right: 5px;
	margin-right: 0px;
	color: rgb(255, 255, 255);
	padding: 0px 30px;
	border-bottom: none;
}

#menu-close {
	position: fixed;
	top: 0;
	height: 200vh;
	left: 0;
	width: 100%;
	z-index: 100 !important;
	visibility: hidden;
	display: block;
}

.hamburger {
	font-size: 2em !important;
}



@media (min-width: 850px) {
	.phone-wrapper {
		display: block!important;
	}
} */


/* END HEADER STYLES */


/* -- */

@media (max-width: 330px) {
	.text {
		font-size: 1em;
	}
	.title-text {
		padding-top: 0.5em;
		font-size: 1.5em;
	}
}

@media (min-width: 330px) and (max-width: 375px) {
	.title-text {
		padding-top: 0.5em;
		font-size: 2.2em;
	}
}

@media (min-width: 375px) and (max-width: 767.98px) {
	.title-text {
		padding-top: 0.5em;
		font-size: 1.6em;
	}
	.text{font-size: 1em;}
}



/* ----home page catalog */
/* 
.boring {
	font-size: 13px;
	width: 100%;
	z-index: 10;
	margin-left: 20px;
	padding: 0 10px;
	width: auto;
	font-weight: 700;
	font-family: 'Montserrat';
	color: #666;
	text-transform: uppercase;
	background: white;
	margin-bottom: -17px;
}

.section{
	padding-top:20px;
	margin-top: 8px!important;
	border: 2px solid #f2f2f2;
	margin: 3em 0;
	border-radius: 20px;
	width: 100%;
	margin-bottom: 40px;
}

.pic {
	display: block;
	width: 100%;
	max-width: 130px;
	height: auto;
	margin: 0 auto;
}

.separately {
	width: 30%;
	position: relative;
}

.separately:nth-of-type(3n+2) {
	border-left: var(--border);
}

.separately:nth-of-type(3n+3) {
	border-left: var(--border);
}

.separately h3 {
	font-family: 'Montserrat';
	font-weight: 400;
	text-align: center;
	color: #000;
	font-size: 14px;
	box-sizing: border-box;
	transition: all .2s cubic-bezier(0.23, 1, 0.320, 1) ;
}
.separately h3:hover{
	text-decoration: underline;
} */






/* SIDEBAR STYLES  */

@media (min-width: 1600px) {
	.col-xxl-6 {
		display: flex;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

.content-left {
	width: 300px;
	margin-bottom: 5vw;
}

.sidebar-wrap {
	border-radius: 30px;
}

.sidebar-title {
	font-size: 2em;
	text-align: center;
	width: 100%;
	color: #4e0000;
	padding-bottom: 1em;
	padding-top: 1em;
	letter-spacing: 1px;
}

.sidebar-content {
	border-right: var(--border);
	padding: 0 1em;
}

.sidebar-text a {
	color: #4e0000;
}

.sidebar-text a:hover {
	color: #4e3333;
}

.lil_title {
	font-size: 1em;
	margin-top: 1em;
	padding: 0.5em;
	margin-bottom: 0;
	font-family: 'SF UI Text';
	font-weight: normal;
	background-color: #f9f9f9;
	border-radius: 15px;
}

.card {
	border: none;
	background-color: #fff;
}

.card-header {
	border: none !important;
	background-color: white;
	margin-top: 0px;
	padding: 0.2em 1em;
}

.card-header a {
	font-size: 1.1em;
}

.card-link {
	font-size: 0.8em !important;
	margin-right: 10px;
	opacity: 0.6;
}

.card-body p {
	color: #111;
	font-size: 1em;
	text-align: center;
	padding: 0.3em 0;
	margin: 0px !important;
}

.card-body p:hover {
	color: #8a1524;
}

.card-body {
	padding: 0px !important;
}

.sidebar-link {
	padding-left: 10px;
}


/* END SIDEBAR STYLES */


/* CONTACTS HTML STYLES */


.office-title {
	font-weight: 700;
	font-size: 32px;
	color: var(--text1);
	margin-bottom: 20px;
	margin-top: 60px !important;
}

.adress,
.adress p {
	font-weight: normal;
	letter-spacing: .2px;
	color: var(--text2);
	font-weight: 500;
}

.tel-email {
	color: #000;
}
.tel-email:hover{color: #000;text-decoration: none;}

.emails-block div{
	padding: 1rem;
	border-radius: 10px;
	background: var(--light);
}
.emails-block div:nth-last-of-type(2){

	margin: 0 1rem;
}


@media (max-width: 760px) {
	.adress {
		margin-left: 0;
	}
}

@media (max-width: 767.65px) {
	.emails-block h5{
		font-size: 10px !important;
	}
	.emails-block a{
		font-size: 13px !important;
	}
} 

/* END CONTACTS HTML STYLES*/