:root{


	--primary_ttl_color: #000;

	}

.container-900{
  max-width: 900px!important;
  margin: 0 auto;
}
.primary_ttl h1{
	font-size: 2.9em;
  text-align: left;
	color: var(--primary_ttl_color);
  margin: 0;
  padding-left: 0;
}
.primary_ttl{
	padding-top: 5rem!important;
}

main{
  padding-top: 5rem;
}
.banner{
  position: relative;
  height: 500px;
  /* top: -25px; */
}
.align-middle{
  position: absolute;
  top: 40%;
  transform: translateY(-50%, -50%);
}

.title h1{
  font-family: 'SF Ui Display';
  font-weight: 400;
}
   

.subgroup-description p, .subgroup-description span{
	--description_font_size: 16px;
	--description_font_color: #444;

  font-weight: normal;
  letter-spacing: .0px;
  font-size: var(--description_font_size)!important;
  line-height: 1.7;  
  color: var(--description_font_color);

}

/* table{
  width: 100%;
  border: hidden;
}
table td{border-right: hidden;padding: var(--tables_cell_padding);}

table tr{
  border-bottom: 1px solid #e4e4e4;
  transition-duration: .2s;

}
table tr:hover{
  background-color: #eee;
}
table td:first-of-type{
  padding-left: 15px;
  font-weight: 500;
} */


.wrapper:nth-of-type(1){
  border: none;
}
.wrapper{
 border-top: var(--border);
 transition: .3s;
}

.wrapper h2 {
	display: inline-block!important;
  font-weight: 400;
  font-size: 1.6em;
  color: #4e0000;
  letter-spacing: -.005em;
  width: auto!important;
	/* transition: border-bottom .2s linear;
	border-bottom: 1px solid transparent; */
}
.wrapper:hover h2{
  text-decoration: underline solid #000;
  
}

.wrapper p{
  color: #666;

}
.wrapper img{
    width: 300px;
    height: auto;
    transition: .5s;
}

.wrapper img:hover{
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.description p, .description strong{
	font-size: 14px!important;;
	line-height: 1.8;
}
.description strong{
  font-weight: normal;
  color: #111 !important;

}

@media (max-width: 767.98px) {
	.subgroup-description p, .subgroup-description span{font-size: 1em;}
	.primary_ttl h1{
		font-size: 1.8em;
	}
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .wrapper img{width: 200px; border-radius: 20px;}
    .content span{font-size: 0.85em!important;}
    .wrapper h2{font-size: 1.6em; color: #000; font-weight: normal;}

    .description p, .description strong{
      font-size: 12px !important;
      line-height: 1.5;
    }

}

@media (max-width: 575.98px) {
  .wrapper h2{font-size: 1.2em;;display: flex;
  justify-content: center;
  align-items: center; height: 100%;
}
  .wrapper img{width: 180px;}



}
