absl-py==0.11.0
alabaster==0.7.12
altgraph==0.17
appdirs==1.4.4
appnope==0.1.2
APScheduler==3.6.3
asgiref==3.3.1
astroid==2.4.2
astunparse==1.6.3
Babel==2.8.0
backcall==0.2.0
boto==2.49.0
BTrees==4.7.2
cachetools==4.2.1
certifi==2020.4.5.1
cffi==1.14.4
chardet==3.0.4
cryptography==3.2.1
dateparser==0.7.6
decorator==4.4.2
distlib==0.3.1
Django==3.1.7
django-appconf==1.0.4
django-compressor==2.4
django-filebrowser==3.13.1
django-jazzmin==2.2.5
django-libsass==0.8
django-multiselectfield==0.1.12
django-sass-processor==1.0.0
django-tabbed-admin==1.0.4
django-tinymce==3.3.0
docutils==0.16
et-xmlfile==1.1.0
filelock==3.0.12
flatbuffers==1.12
gast==0.3.3
google-auth==1.26.1
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==2.9
imagesize==1.2.0
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.6.4
jedi==0.17.2
Jinja2==2.11.2
jsmin==2.2.2
jupyter-client==6.1.7
jupyter-core==4.7.0
Keras-Preprocessing==1.1.2
lazy-object-proxy==1.4.3
libsass==0.20.1
macholib==1.14
Markdown==3.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.5
oauthlib==3.1.0
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==20.4
paho-mqtt==1.5.0
parso==0.7.1
persistent==4.6.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pipenv==2020.11.15
prompt-toolkit==2.0.9
protobuf==3.14.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.6.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pylint==2.6.0
pyodbc==4.0.31
pyparsing==2.4.7
pypugjs==5.9.5
pyscard==2.0.0
python-dateutil==2.8.1
pytils==0.3
pytz==2020.1
pyzmq==20.0.0
rcssmin==1.0.6
regex==2020.7.14
requests==2.23.0
requests-oauthlib==1.3.0
rjsmin==1.1.0
rsa==4.7
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.2.0
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.18
sqlparse==0.3.1
termcolor==1.1.0
threaded==4.0.8
toml==0.10.2
tornado==6.1
traitlets==5.0.5
transaction==3.0.1
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.9
virtualenv==20.4.2
virtualenv-clone==0.5.4
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
zc.lockfile==2.0
ZConfig==3.5.0
ZODB==5.6.0
zodbpickle==2.0.0
zope.interface==5.2.0
