:active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0 !important;
}
:root{
	--main-bg-color: #f6f4f5;
}

.checkout-ttl{
	font-family: 'Raleway';
  font-weight: 200;
  color: #333;
  display: flex;
  justify-content: center;
	font-size: 2em;
	}
.check-list{
	font-family: "SF UI Text";
	font-size: 1em;
	border-radius: 20px;
	background-color: #fff;
	color: #333;
}
.check-list-inner{
	width: 300px;
}

.navbar{
	background-color: var(--main-bg-color)!important;
}
main{
	background-color: var(--main-bg-color)!important;
}
input, textarea{
	border: 1px solid #f6f6f6;
	height: 3em;
	padding: 5px;
	width: 300px;
}
label{

	font-size: 1.1em;
	font-family: sf;
	font-weight: 200;
	padding-top: 1.5em;
}
.form {
	font-family: "SF UI Text";
	border-radius: 20px;
	background-color: #fff;
}
.check span{
	color: #999;
}


.btn{
  background-color: transparent;
  color: #000;
  border-color: #53e83c;
  border-radius: 80px;
  outline: 0 !important;
  outline-offset: 0 !important;
}

.btn:hover{
  background-color: #e2ffde;
  color: #000;
  border-color: #53e83c;
}


@media (max-width: 760px) {
input, textarea, .check-list, .check-list-inner{
	width: 100%;
}
.check-list, .form{border-radius: 0px; font-size: 1em;}

}
