<!DOCTYPE html>
{% load static %}
<html>
<head>
	{% include 'mainapp/parts/head-property.html' %}
	<title>Сертификаты - ПЭК</title>
</head>
<body>
  {% include 'mainapp/parts/header.html' %}

  <div class="container certificate">
    <h1>Сертификаты и декларации о соответствии</h1>
    <p class="secondary-page-description">
			Ниже представлены декларации о соответствии на механизмы МЭО и МЭОФ, многооборотные электроприводы МЭП, МЭМ и ПЭМ.
			Открыть сертификат в формате PDF можно просто кликнув на него.
	</p>

		<div class="certificateWrapper">
			{% for cert in cert %}
			<a href="{{ cert.file.url }}">
			<img src="{{ cert.picture.url }}" alt="Сертификат соответсвия" title="При клике на картинку откроется PDF документ.">
			</a>
			{% endfor %}
		</div>
  </div>

{% include 'mainapp/parts/footer.html' %}
</body>
</html>
