<!DOCTYPE html>
{% load static %}
<html>
<head>
	{% include 'mainapp/parts/head-property.html' %}
	<title>Поволжская Электротехническая Компания</title>
	<meta name="description" content="Производит и поставляет электроприводы МЭО,
	 МЭОФ, МЭП, МЭМ, ПЭМ, ПБР, шлагбаумы и трубопроводную арматуру с электроприводом"/>
</head>
<style>
:root{
	--navbar_bg_color: inherit;
	--nav_link_color: #000;
	--company_name_color: #000;
	--about_company_color: #000;
	}
</style>
<body >			
			{% include 'mainapp/parts/header.html'%}

			<div class="basePage">
				<div  class="banner" style="background-image: url({% static 'img/main_page/banner/slider-1.jpg' %})"></div>
			

				<div class="container">
					<div class="title">
						<h1 >Поволжская Электротехническая  Компания</h1>
						<h2 >Производим исполнительные механизмы для трубопроводной арматуры: МЭО, МЭОФ, МЭП, МЭМ, ПЭМ, ПБР</h2>
					</div>
				</div>

			</div>





					<div style="max-width: 1000px;" class="container basePageCatalog">





								
								<div class="catGroup">
									<p class="groupName"> Электроприводы в общепромышленном исполнении</p>

								{% for cat in categories %}
								{% if cat.id == 1 or cat.id == 2 or cat.id == 3 or cat.id == 6 or cat.id == 7 or cat.id == 8   %}

									<a class="catItem" href="{{ cat.slug }}">

										<img src="{{ cat.img.url }}">
										<p>{{ cat.title }}</p>

									</a>

								{% endif %}
								{% endfor %}
								</div>





								<div class="catGroup">
									<p class="groupName">Взрывозащищенные электроприводы</p>

								{% for cat in categories %}
								{% if cat.id == 4 or cat.id == 5 or cat.id == 13   %}

									<a class="catItem" href="{{ cat.slug }}">

										<img src="{{ cat.img.url }}">
										<p>{{ cat.title }}</p>

									</a>

								{% endif %}
								{% endfor %}
							</div>

							<div class="catGroup"
							data-aos="fade"
							data-aos-duration="800"
							data-aos-delay="50">
								<p class="groupName">НКУ, пусковые и управляющие устройства</p>

								{% for cat in categories %}
								{% if cat.id == 9  or cat.id == 10  or cat.id == 14   %}

									<a class="catItem" href="{{ cat.slug }}">

										<img src="{{ cat.img.url }}">
										<p>{{ cat.title }}</p>

									</a>

								{% endif %}
								{% endfor %}
							</div>


							<div class="catGroup"
							data-aos="fade"
							data-aos-duration="800"
							data-aos-delay="50">

								<p class="groupName">Шлагбаумы и металлообработка</p>
								{% for cat in categories %}
								{% if cat.id == 12 or cat.id == 11 %}

									<a class="catItem" href="{{ cat.slug }}">

										<img src="{{ cat.img.url }}">
										<p>{{ cat.title }}</p>

									</a>
								{% endif %}
								{% endfor %}


						</div>
					</div>
				</div>

			{% include 'mainapp/parts/footer.html' %}

		</body>
		</html>
