<!DOCTYPE html>
{% load static %}

<html>
	
<head>
	<meta name="description" content="{{ product.meta_description }}">
	{% include 'mainapp/parts/head-property.html' %}

	{% block title %}
	{% endblock title %}
	
	<link href="{% static 'css/ProductDetailView.css' %}" rel="stylesheet">
	<!-- <link href="{% static 'css/ProdModBase.css' %}" rel="stylesheet"> -->
	<link href="{% static 'css/jquery.fancybox.css' %}" rel="stylesheet">
	<link href="{% static 'css/ModificationsDetailView_CartButtons.css' %}" rel="stylesheet">



	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">

</head>

<body>
	{% include 'mainapp/parts/header.html' %}
<main itemscope itemtype="https://schema.org/Product">
 
<div class="container ">


<!-- PHOTOS -->
	<div  class="d-flex my-5 flex-column flex-md-row">
		<div class="flex-column order-2">
			<div class="splide">
				<div class="splide__track">
					<ul class="splide__list">
						{% for p in photos %}
			
						<img class="splide__slide"  itemprop="image" src="{{p.image.url}}">
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>	

<!-- PAGE TITLE		 -->
		<div class="flex-column order-1  primary_ttl"
			 itemprop="name">
        {% block name %}
        {% endblock name %}

			<!-- <div class="p-description">{{ product.description |safe }}</div> -->
		</div>
	</div>
	

<!-- PRODUCT DESCRIPTION -->
	{% if product.product_description %}
	<div class="product-description"
		 itemprop="description">{{ product.product_description | safe}}
	</div>
	{% endif %}


</div>

<!-- MAIN CONTENT  -->
	<div class="js-content">

		{% block table %}
		{% endblock table %}	

		<div class="container">
			{% if sensors_list %}
			<h4 class="sensors-ttl">
			<span>Блоки сигнализации положения и управления	
				<a onclick="sensors_rerendering()" href="javascript:void(0);">| Подробнее &#8594;</a>
			</span> 
			</h4>
			<div class="sensors-hero">
					{% for sensor in sensors_list %}
					<div class="sensor-inner">
						<p class="sensor-character">{{sensor.character}}</p>				
						<p class="sensor-name">{{sensor.name}}</p>
					</div>
				{% endfor %}
			</div>
			

				
			<div class="rerend-b-sensors block">
				{% for sensor in sensors_list %}
				<div class="flex-column sensor-wrap">

					<div class="d-flex m-2 sensor-meta">

							<div class="sensor-character">{{ sensor.character }}</div>
							<div  class="sensor-name">{{ sensor.name }}</div>
					</div>

					<div class="sensor-description">{{ sensor.description }}</div>

				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>


<div class="container ">



<!-- Technical characteristics -->

<div class="content">
    {{ product.content | safe }}

    {% if group.groups_content  %}
    {{ group.groups_content | safe }}
    {% endif %}
  </div>

<!-- End Technical characteristics -->

</div>

{% if docs %}
<div class="docs-container">
  <!-- Documentation -->
	<h4 class="docs-ttl"><span>Документация</span></h4>
  
  <div class="docs-section">
	{% for doc in docs %}
		<a href="{{doc.item.file.url}}">
		  <p>{{doc.name}}</p>
		</a>
	{% endfor %}
  </div>  
  <!-- End Documentation -->
</div>
{% endif %}



</div>
</main>
{% include 'mainapp/parts/footer.html' %}
{% include 'mainapp/parts/call-to-action.html' %}

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<script>
	document.addEventListener( 'DOMContentLoaded', function () {
		new Splide( '.splide' ).mount();
	} );
</script>
<script>
	function sensors_rerendering(){
		var div = document.getElementsByClassName("rerend-b-sensors");
		div[0].classList.add('b-show');

		document.getElementsByClassName("sensors-hero")[0].classList.add('block');
	}
</script>

{% block scripts %}
{% endblock scripts %}

</body>
</html>
