main{
  background-color: var(--main-bg-color) !important;
}
.genezis_header{
font-weight: 500;
font-size: 1.8em;
color: #000;
text-align: center;
}

.content-wrapper{
 margin-top: 3em;
}


.red{
  color: #d92324 !important;
  border-left-color: #d92324 !important;
}
.grey{
  color: #727272 !important;
  border-left-color: #727272 !important;
}
.orange{
  color: #ffae1a!important;
  border-left-color: #ffae1a!important;
}
.green{
  color:#00e600!important;
  border-left-color: #00e600 !important;
}
.yellow{
  color:#ffe500!important;
  border-left-color: #ffe500 !important;
}
.lightgrey{
  color: #d5d5d5 !important;
  border-left-color: #d5d5d5 !important;
}

.wrapper{
  background-color: #fff;
  width: 100%;
  transition: .2s;
  
 
  padding: 5rem 0 5rem;
}
.wrapper > a{
  margin: 0 auto;
  width: 600px;
  border-left: 1px solid #fceaea;
  padding: 1.5rem 0 40px;

  transition: box-shadow .2s ease,border .2s ease;

}
.wrapper > a:hover{
  border-left: 1px solid #555;

  /* box-shadow: 0 8px 30px rgba(0,0,0,0.12); */

}
.wrapper h1 {
  font:  300 1.2em 'SF UI Text';
  color: #222;
  padding: 0 2em;
  
}

.wrapper img{
  height: 70px;
  padding-left: 2em;
  width: auto;
}

.wrapper:hover h1{
text-decoration: underline;
}

.doc-section p{
 font: 300 1em "SF UI Text";
 color: #222;
}
.doc-section p:hover{text-decoration: underline;}
.doc-section__title {
  font: 600 1.2em "SF UI Text";

}
.doc-section{
border-left: 2px solid #555;
margin-bottom: 3em;
}

@media (max-width: 767.98px) {
  main{padding: 1em;}

  .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper > a{padding: 3px!important;border-left: 1px solid #555;}
  .wrapper img{height: 70px;}
  .wrapper h1{ text-decoration: none;}

}

@media (max-width: 575.98px) {
  .wrapper h1{font-size: 1.1em;
    padding: 1em;
    padding-left: 2em;
  }
  .wrapper img{height: 50px; padding-left: 10px;}
}
