:root {
	--border: 1px solid #e8e8e8;
	--brand_brown: #4e0000;
	--link-color: #0070f3;

}

* {
	outline: none;
}

@media (min-width: 1200px) and (max-width: 1400px) {
	.col-xxl-6 {
		display: flex;
		flex: 0 0 70%;
		max-width: 70%;
	}
}

@media (min-width: 1400px) and (max-width: 1600px) {
	.col-xxl-pre-index {
		display: flex;
		flex: 0 0 60%;
		max-width: 60%;
	}
}

@media (min-width: 1600px) {
	.col-xxl-6-index {
		display: flex;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

.container {
	max-width: 1050px !important;
	padding-top: 0px;
}

html {
	margin-top: -25px;
	width: 100%;
	max-width: 100%;
	font-size: 0.8em;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.secondary-page-description {
	font-size: 14px!important;
	color: #474747;
	padding: 3rem 5rem 0;
	font-weight: 300;
}

body {
	width: 100% !important;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	overflow: visible;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	direction: ltr;
    font-feature-settings: 'kern';
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	-moz-osx-font-smoothing: grayscale;
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    scroll-behavior: smooth;
}


/* HEADER STYLES */

.nav-item a:hover {
	border-color: #8a1524;
}

@media (max-width: 760px) {
	.navbar {
		padding-left: 0px;
	}
	.media_small {
		width: 65px;
	}
}


/* ----header */

.contact-block a {
	font-family: 'SF UI Text' !important;
	font-weight: 700 !important;
	position: relative;
}

.contact-block a:last-child {
	font-weight: 500 !important;
}

.contact-block a:hover {
	border-color: transparent!important;
}

.navbar {
	background-color: var(--navbar_bg_color);
	z-index: 10 !important;
	height: auto;
	padding-bottom: 0px;
}

.navbar-brand {

	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 1.7s;
	-moz-animation-delay: 1.7s;
	animation-delay: 1.7s;
}

.nav-link {
	color: var(--nav_link_color) !important;
	font-weight: 500;
	font-size: 1em;
}

.nav-item a:hover {
	margin-bottom: -1px;
	border-bottom: 1px solid var(--navbar_bb, #444444);
}

nav.navbar .dropdown:hover>.dropdown-menu {
	display: block;
	margin-bottom: 0px;
	border-radius: 15px;
	visibility: visible;
	opacity: 1;
}

nav.navbar .dropdown:hover>.dropdown-menu>.dropdown-item {
	border-bottom: 0px;
	border-radius: 10px;
	margin-bottom: 0px;
}

.dropdown .dropdown-menu {
	display: block;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	margin-bottom: 0px;
	border-radius: 15px;
	border: none !important;
	-webkit-box-shadow: 0px 0px 5px 4px rgba(85, 85, 85, 0.1);
	-moz-box-shadow: 0px 0px 5px 4px rgba(85, 85, 85, 0.1);
	box-shadow: 0px 0px 5px 4px rgba(85, 85, 85, 0.1);
}

@media (max-width: 760px) {
	.navbar-collapse.nav-link {
		color: #000 !important;
		padding-left: 0.5em;
	}
	.navbar-nav {
		padding-top: 1.3em;
	}
	.media_small {
		width: 65px;
		height: auto;
	}
	.navbar-brand {
		margin-left: 0em;
	}
	.dropdown-item:hover {
		background-color: transparent !important;
		border-bottom: none;
		margin-bottom: 0px;
	}
	.nav-item a:hover {
		border-bottom: 0px;
		margin-bottom: 0px;
	}
	.navbar {
		font-size: 1.2em;
		padding-left: 0px;
		background-color: var(--navbar_bg_color) !important;
		padding-right: 0px !important;
	}
	.navbar button {
		margin-right: 1em;
	}
	.show {
		border-bottom: 2px solid #dedede;
	}
}

.cart-counter {
	position: absolute;
	color: #fff;
	top: 0;
	right: 0;
	width: 16px;
	height: 16px;
	background-color: #ff3a31;
	border-radius: 50%;
	line-height: 16px;
	text-align: center;
}

.cart-counter p {
	margin: 0;
	font-size: 10px;
	font-family: "SF UI Text";
}

.sidenav {
	height: 200vh;
	width: 0;
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	background-color: transparent;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	padding-bottom: 200px;
}

.sidenav a {
	border-bottom: .5px dotted #9c9b9b;
	font-weight: 500;
	font-size: 1.15em;
	margin: 0 1.5em;
	text-decoration: none;
	text-align: right;
	text-transform: uppercase;
	padding: 1em 0em;
	color: rgb(255, 255, 255);
	display: block;
	white-space: nowrap;
}


.sidenav .closebtn,
.closebtn a {
	position: absolute;
	top: 9px;
	font-size: 35px;
	font-weight: 800;
	right: 5px;
	margin-right: 0px;
	color: rgb(255, 255, 255);
	padding: 0px 30px;
	border-bottom: none;
}

#menu-close {
	position: fixed;
	top: 0;
	height: 200vh;
	left: 0;
	width: 100%;
	z-index: 100 !important;
	visibility: hidden;
	display: block;
}

.hamburger {
	font-size: 2em !important;
}

.dropdown-item.active,
.dropdown-item:active {
	color: #000;
	text-decoration: none;
	background-color: transparent !important;
}

@media screen and (max-width: 767.98px) {
	.side-collapse.in {
		width: 0;
	}
	.navbar-nav li.dropdown {
		padding-right: 0;
	}
	.navbar-default {
		padding-right: 0;
	}
	.navbar .navbar-default {
		border-right: none;
	}
	.nav-link {
		color: var(--nav_link_color);
		padding: 0.5em 0;
	}
	.sidenav {
		z-index: 999 !important;
	}
}

@media (min-width: 850px) {
	.phone-wrapper {
		display: block!important;
	}
}


/* END HEADER STYLES */

main {
	position: relative;
	margin: 0 auto;
	z-index: 2;	

}

main a:hover,
a:focus {
	text-decoration: none;
}

.banner {
	position: relative;
	z-index: 1;
	background-size: auto;
	height: 450px;
	width: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
}

.align-middle {
	position: absolute;
	top: 40%;
	transform: translateY(-50%, -50%);
}

@-webkit-keyframes slide {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -2000px 0;
	}
}

.title-text {
	font-weight: 700;
	color: var(--company_name_color);
	font-size: 22px;

	text-align: left;
	text-transform: uppercase;
}

.text {

	font-weight: 400;
	color: var(--about_company_color);
	font-size: 15px;
	max-width: 430px;
	text-align: left;
	
}

.text.animate {
	opacity: 1;
	margin-top: 0px;
}

.title {
	padding: 0 5em;
}


/* Заголовки страниц */

.primary_ttl h1 {
	font: normal 2.3em 'Anonymous';
	padding: 5rem 3rem 3rem;
}

.secondary_ttl h1 {
	color: #000;
	font-weight: 400;
	font-size: 2em;
	text-align: center;
	padding: 3.3rem 3rem 2rem;
}


/* -- */

@media (max-width: 330px) {
	.text {
		font-size: 1em;
	}
	.title-text {
		padding-top: 0.5em;
		font-size: 1.5em;
	}
}

@media (min-width: 330px) and (max-width: 375px) {
	.title-text {
		padding-top: 0.5em;
		font-size: 2.2em;
	}
}

@media (min-width: 375px) and (max-width: 767.98px) {
	.title-text {
		padding-top: 0.5em;
		font-size: 1.6em;
	}
	.text{font-size: 1em;}
}

@media (max-width: 767.98px) {
	.primary_ttl h1 {
		text-align: left;
		font-size: 1.6em;
		padding: 0 2rem;
	}
	.secondary_ttl h1 {
		font-size: 1.5em;
		padding: 3rem 1rem 1rem!important;
	}
	.secondary-page-description {
		font-size: 12px!important;
		padding: 1rem;
	}
}


/* ----home page catalog */

.boring {
	font-size: 16px;
	width: 100%;
	z-index: 10;
	margin-left: 20px;
	padding: 0 10px;
	width: auto;
	font-weight: 500;
	color: #333;
	background: white;
	margin-bottom: -17px;
}

.section{
	padding-top:20px;
	margin-top: 8px!important;
	border: 2px solid #f2f2f2;
	margin: 3em 0;
	border-radius: 20px;
	width: 100%;
	margin-bottom: 40px;
}

.pic {
	display: block;
	width: 100%;
	max-width: 130px;
	height: auto;
	margin: 0 auto;
}

.separately {
	width: 30%;
	position: relative;
}

.separately:nth-of-type(3n+2) {
	border-left: var(--border);
}

.separately:nth-of-type(3n+3) {
	border-left: var(--border);
}

.separately h1,
.separately h3 {
	font-family: "Raleway";
	font-weight: 500;
	text-align: center;
	color: #000;
	font-size: 15px;
	box-sizing: border-box;
	transition: all .2s cubic-bezier(0.23, 1, 0.320, 1) ;
}


.page-ttl {
	margin-top: 4rem;
	font-family: 'Raleway';
	font-weight: 200;
	color: #333;
	display: flex;
	text-align: center;
	padding: 0 1.5rem;
	justify-content: center;
}

@media (max-width: 767.98px) {
	.boring{
		font-size: 14px;
		font-weight: 700;
	}
	element:hover,
	element:active {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-user-select: none;
		-webkit-touch-callout: none/*only to disable context menu on long press*/
	}
	main {
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
		margin-bottom: 0px!important;
		padding-bottom: 1em;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding: 0 .8rem;
	}
	.center-md {
		font-size: 1em;
		text-align: center;
	}
	img.pic{max-width: 110px;}

	.container {
		padding: 0;
	}
	.separately {
		width: 45%;
		border-left: none!important;
	}

	.separately h3 {
		font-size: 1em;
	}
	.page-ttl {
		margin-top: 0rem;
		font: 200 1.8em 'Raleway';
		padding: 0 1.5rem;
	}
}


/* FOOTER STYLES */

:root {

	--footer_text_color: #666;
	--footer_headers: #111;
	--footer_bg_color: transparent;
}

.footer {
	background-color: var(--footer_bg_color);
    border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	
	padding-top: 50px;

	position: relative;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
}

.contacts-mobile {
	font-weight: 500;
	margin-bottom: 2em!important;
	border-bottom: 1px solid #eaeaea;
}

.footer a,
.footer p,
.footer h2,
.left-block p,
.left-block a,
.tiny-footer p {
	color: var(--footer_text_color);
	transition: color .3s;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	letter-spacing: -.1px;
}

.footer a:hover {
	text-decoration: none;
	color: #111;
}

.footer h2 {
	color: var(--footer_headers);
	font-size: 1.1em;
	font-weight: 500;
}

.f-go-section a{
	margin-left: 0rem;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 600;
	width: fit-content;
	margin: .4rem 2rem ;
}

.footer-go-mess{
	font-size: 26px!important;
	font-weight: 800!important;
	line-height: 1.3;
	letter-spacing: -1px!important;
	color: rgb(53, 53, 53)!important;
	margin-bottom: 2rem;
}
.footer-go-mess::after{
	content: '';
	position: absolute;
	bottom: 40px;
	left: 0px;
	height: 30px;
	width: 30px;
	border-left: 1px solid black ;
	border-bottom: 1px solid #000;
	border-bottom-left-radius: 10px;
}


.f-go-section a:hover{color: blue;}

.link-block a {
	padding: 0.5em 0;
}

.iso-cerf{
	margin-top: 1rem;
	padding-top: 40px;
	line-height: 14px;
}
.iso-cerf p{text-transform: uppercase; font-size: 12px; font-weight: 300;}
.iso-cerf img{height: 80px;}

@media (max-width: 767.98px) {
	.footer {
		z-index: 1 !important;
		position: relative !important;
		padding-top: 0em;
	}
	footer h2 {
		font-size: 1em;
		display: flex;
		justify-content: start;
	}
	footer a {
		display: table;
		font-size: 1em;
		margin: 0 auto;
	}
	.left-block div:nth-last-child(1) a {
		font-size: 1em;
		margin-bottom: 20px;
	}
	.iso-cerf a{margin: 0 1.5rem;}
	.iso-cerf img{height: 50px;}
	.iso-cerf p{font-size: 10px; line-height: 10px;}
	.link-block a {
		margin: .3em 0;
		padding: 0.5em 0;
		text-align: left !important;
	}
	.center-md {
		font-size: 1em;
		text-align: center;
	}
	.container {
		padding: 0;
	}


	.f-go-section{
		margin-bottom: 3.5rem;
		padding: 20px 1rem;
		font-size: 14px;
		border-bottom: var(--border);
	}
	.footer-go-mess::after{
		display: none;
	}
}


/* END FOOTER STYLES */


/* SIDEBAR STYLES  */

@media (min-width: 1600px) {
	.col-xxl-6 {
		display: flex;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

.content-left {
	width: 300px;
	margin-bottom: 5vw;
}

.sidebar-wrap {
	border-radius: 30px;
}

.sidebar-title {
	font-size: 2em;
	text-align: center;
	width: 100%;
	color: #4e0000;
	padding-bottom: 1em;
	padding-top: 1em;
	letter-spacing: 1px;
}

.sidebar-content {
	border-right: var(--border);
	padding: 0 1em;
}

.sidebar-text a {
	color: #4e0000;
}

.sidebar-text a:hover {
	color: #4e3333;
}

.lil_title {
	font-size: 1em;
	margin-top: 1em;
	padding: 0.5em;
	margin-bottom: 0;
	font-family: 'SF UI Text';
	font-weight: normal;
	background-color: #f9f9f9;
	border-radius: 15px;
}

.card {
	border: none;
	background-color: #fff;
}

.card-header {
	border: none !important;
	background-color: white;
	margin-top: 0px;
	padding: 0.2em 1em;
}

.card-header a {
	font-size: 1.1em;
}

.card-link {
	font-size: 0.8em !important;
	margin-right: 10px;
	opacity: 0.6;
}

.card-body p {
	color: #111;
	font-size: 1em;
	text-align: center;
	padding: 0.3em 0;
	margin: 0px !important;
}

.card-body p:hover {
	color: #8a1524;
}

.card-body {
	padding: 0px !important;
}

.sidebar-link {
	padding-left: 10px;
}


/* END SIDEBAR STYLES */


/* CONTACTS HTML STYLES */

:root {
	--main-bg-color: #fff;
}

.office-title {
	font-weight: normal;
	font-size: 1.5em;
	color: #4e0000;
}

.adress,
.adress p {
	font-family: "SF UI Text" !important;
	font-weight: normal;
	font-size: 1em;
	color: #555;
}

.tel-email {
	color: #444;
}
.tel-email:hover{color: #000;}
.tel-email b {
	font-family: "SF UI Text";
	font-weight: 600;
	color: #444 !important;
}

h5 {
	font-size: 1.1em !important;
}

@media (max-width: 760px) {
	.adress {
		margin-left: 0;
	}
}

@media (min-width: 768px) {
	.emails {
		width: 300px !important;
	}
}

@media (min-width: 992px) {
	.emails {
		width: 500px !important;
	}
}


/* END CONTACTS HTML STYLES*/
